[Desktop Entry]
Type=Application
Name=Tilda
Exec=<command to execute>
Icon=<full path to icon>
Comment=<optinal comments>
X-GNOME-Autostart-enabled=true
